@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


// Custom Styles
$marketing-container-margin-bottom: 1rem;
$marketing-container-radius: $global-radius;
$marketing-container-background: $white;
$marketing-container-color: $black;
$marketing-container-image-size: rem-calc(190);
$white: #fefefe;
$text-muted: #6c757d;

.text-secondary {
    color: $text-muted;
}

.top-bar .top-bar-left .dropdown .menu-text {
    color: white;
}

.top-bar .top-bar-left .dropdown .menu-home {
    color: white;
}

.top-bar .top-bar-left .dropdown .menu-link a{
    color: rgba(255,255,255,.5);
}

.hollow {
    &.button {
        &.success {
            &:hover {
                background-color: $success-color;
                color: #fff;
            }
        }
    }
}

.docs-example-orbit-slide {
    padding: 20rem 4rem 2rem 4rem;
    color: $white;

    .orbit-slide:nth-of-type(n) & {
        background: #5a5a5a;
    }
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-size: 50px;
}

.marketing-container {
    margin-bottom: $marketing-container-margin-bottom;
    background-color: $marketing-container-background;
    color: $black;
    overflow: hidden;
    padding: 0;
    border-radius: $marketing-container-radius;

    .marketing-image {
        .image {
            display: block;
            margin: auto;
            border-radius: 50%;
            width: $marketing-container-image-size;
            height: $marketing-container-image-size;
            padding: rem-calc(15);
        }
    }

    .marketing-description {
        padding: 1rem;
        text-align: center;
    }

    .details-button {
        text-align: center;
        padding: 1rem;
    }
}


.cell {
    &.auto {
        &.description {
            padding-top: 10rem;
        }
    }
}

@media (min-width: 1024px) {
    .cell {
        &.auto {
            &.description {
                padding-top: 5rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .cell {
        &.auto {
            &.description {
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
        }
    }
}

@media (min-width: 375px) {
    .cell {
        &.auto {
            &.description {
                padding-top: 0rem;
                padding-bottom: 0rem;
            }
        }
    }
}


.dropdown {
    &.menu {
        color:$white
    }
}